{% extends "home_base.html" %}

{% block title %}
	No access
{% endblock %}

{% block subContent %}

	<div class="container my-auto text-center">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8">
				<div class="apple-style">
					<h1 class="display-4 mb-3"><strong>Access Denied</strong></h1>
					<p class="lead text-muted">Sorry, you don't have permission to view this page. Please contact your administrator if you believe this is a mistake.</p>
            		<a href="/" class="btn btn-success btn-lg mt-4">Return to Home</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}