{% extends "home_base.html" %}

{% block title %}
    Home
{% endblock %}


{% block subContent %}
<div class="container my-auto text-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="apple-style">
                Welcome to Lincoln Community Campground.<br>  
                Easily manage your issues with our simple interface.
            </div>
            <div class="btn-group-custom">
                <button class="btn btn-primary btn-lg">Create Issue</button>
                <button class="btn btn-outline-secondary btn-lg"">View Issues</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}