{% extends "base.html" %}

{% block user %}
    <button class="btn p-0 ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAvatar" aria-controls="offcanvasAvatar">
        <img src="" alt="User Avatar" class="rounded-circle border border-white" width="40" height="40">
    </button>
{% endblock %}

{% block menu %}
    <div class="offcanvas-body d-flex flex-column align-items-start gap-3 ps-5">
        <ul class="nav nav-pills w-100" id="menuList">
            <li class="nav-item w-100" id="my_issues">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>My Issues</strong>
                </a>
            </li>
            <li class="nav-item w-100" id="all_issues">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>All Issues</strong>
                </a>
            </li>
            <li class="nav-item w-100" id="user_management">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>User Management</strong>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAvatar" aria-labelledby="offcanvasAvatarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-success d-flex align-items-center gap-2" id="offcanvasLabel">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                Settings
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column align-items-start gap-3 ps-5">
            <ul class="nav nav-pills w-100" id="avaMenuList">
                <li class="nav-item w-100" id="view_profile">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                        <strong>View my profile</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="edit_profile">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" onclick="handelEditProfile()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                        <strong>Edit my profile</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="change_password">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" onclick="handelPasswordChange()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-p-circle" viewBox="0 0 16 16">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                        </svg>
                        <strong>Change password</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="logout">
                    <a class="nav-link text-start text-danger d-flex align-items-center gap-3" onclick="handleSignOut()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        <strong>Sign Out</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="pwdResetmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pwdResetmodalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-auto">
            <div class="modal-content">
                <form id="restPwdForm" class="needs-validation" onsubmit="handlePasswordChangeSubmit(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-success" id="pwdResetmodalTitle">Password Reset</h1>
                    </div>
                    <div class="modal-body">
                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="password" class="form-label text-success">Password</label>
                            <div class="input-group">
                                <span class="input-group-text bg-white border-success" id="togglePassword" style="cursor: pointer;">
                                    <svg id="eyeOpen" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-success" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                    <svg id="eyeClosed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-success d-none" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                                <input type="password" class="form-control border-success" id="password" name="password" placeholder="Enter your new password">
                                <div id="passwordTip" class="invalid-feedback">not a valid input</div>
                            </div>
                        </div>
                        <!-- Confirm Password Field -->
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label text-success">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-text bg-white border-success" id="togglePasswordC" style="cursor: pointer;">
                                    <svg id="eyeOpenC" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-success" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                    <svg id="eyeClosedC" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-success d-none" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                                <input type="password" class="form-control border-success" id="confirmPassword" placeholder="Confirm your password" disabled>
                                <div id="confirmPasswordTip" class="invalid-feedback">input does not match the password</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProfileModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-auto">
            <div class="modal-content">
                <form id="restPwdForm" class="needs-validation" onsubmit="handlePasswordChangeSubmit(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-success" id="editProfileModalTitle">Edit Profile</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">							
							<div class="col-12 col-md-6 mb-3">
								<label for="firstName" class="form-label text-success">First Name</label>
								<input type="text" class="form-control border-success" id="firstName" name="first_name" placeholder="Enter your first name">
								<div id="firstNameTip" class="invalid-feedback">not a valid input</div>
							</div>
							<div class="col-12 col-md-6 mb-3">
								<label for="lastName" class="form-label text-success">Last Name</label>
								<input type="text" class="form-control border-success" id="lastName" name="last_name" placeholder="Enter your last name">
								<div id="lastNameTip" class="invalid-feedback">not a valid input</div>
							</div>
                            <div class="col-12 col-md-6 mb-3">
								<label for="email" class="form-label text-success">Email</label>
								<input type="text" class="form-control border-success" id="email" name="email" placeholder="xxxx@xxxx.com">
								<div id="emailTip" class="invalid-feedback">not a valid input</div>
							</div>
							<div class="col-12 col-md-6 mb-3">
								<label for="location" class="form-label text-success">Location</label>
								<input type="text" class="form-control border-success" id="location" name="location" placeholder="input your location">
								<div id="locationTip" class="invalid-feedback">not a valid input</div>
							</div>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block subContent %}
    {% endblock %}

    <script>

        let currentUser

        document.addEventListener("DOMContentLoaded", async () => {
            getFetch('/api/user/current', {}).onSuccess(data => {
                const operations = data['operations'];
                const menuListItems = document.querySelectorAll('#menuList .nav-item');
                menuListItems.forEach(item => {
                    const itemId = item.id;
                    if (!operations.includes(itemId)) {
                        item.style.display = 'none';
                    } else {
                        item.style.display = '';
                    }
                });
                currentUser = data['user_info'];
            })
        });

        document.addEventListener('DOMContentLoaded', () => {
			clearErrorOnInput('#password');
			clearErrorOnInput('#confirmPassword');
		});

        document.getElementById("togglePassword").addEventListener("click", function () {
			let passwordInput = document.getElementById("password");
			let eyeOpen = document.getElementById("eyeOpen");
			let eyeClosed = document.getElementById("eyeClosed");

			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				eyeOpen.classList.add("d-none");
				eyeClosed.classList.remove("d-none");
			} else {
				passwordInput.type = "password";
				eyeOpen.classList.remove("d-none");
				eyeClosed.classList.add("d-none");
			}
		});

		document.getElementById("togglePasswordC").addEventListener("click", function () {
			let passwordInput = document.getElementById("confirmPassword");
			let eyeOpen = document.getElementById("eyeOpenC");
			let eyeClosed = document.getElementById("eyeClosedC");

			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				eyeOpen.classList.add("d-none");
				eyeClosed.classList.remove("d-none");
			} else {
				passwordInput.type = "password";
				eyeOpen.classList.remove("d-none");
				eyeClosed.classList.add("d-none");
			}
		});

        document.getElementById('password').addEventListener('input', function() {
			document.getElementById('confirmPassword').disabled = (this.value.trim() === "");
		});

        function handlePasswordChangeSubmit(event) {
            event.preventDefault();
            const pwd = document.getElementById('password')
			const pwdConform = document.getElementById('confirmPassword')
			if (pwd.value.trim() === "") {
				pwd.classList.add('is-invalid', 'border-danger');
				return;
			}
			if (pwdConform.value.trim() !== pwd.value.trim()) {
				pwdConform.classList.add('is-invalid', 'border-danger');
				return;
			}
            const formData = new URLSearchParams();
            formData.append('user_id', currentUser['user_id']);
            formData.append('new_password', password.value);
            const urlEncodedData = new URLSearchParams(formData).toString();
            formFetch('/api/user/resetpwd', {
                body: urlEncodedData
            }).onSuccess((data) => {
                showAlertModal('Successful, You will be redirected to login page in 5 seconds ...', "Login", () => {
                    sessionStorage.clear();
					window.location.href = "/login";
				})
				setTimeout(() => {
                    sessionStorage.clear();
					window.location.href = "/login";
				}, 5000)
            })
        }

        function handleEditProfileSubmit(event) {
            event.preventDefault();
        }

        function handelPasswordChange() {
            var myModal = new bootstrap.Modal(document.getElementById('pwdResetmodal'));
            myModal.show();
        }

        function handelEditProfile() {
            var myModal = new bootstrap.Modal(document.getElementById('editProfileModal'));
            myModal.show();
        }

        function handleSignOut() {
            formFetch('/api/auth/logout', {}).onSuccess((data) => {
                showAlertModal('Logged out, redirect to login page in 5 seconds ...', "Sign In", () => {
                    window.location.href = "/login";
                })
                setTimeout(() => {
                    window.location.href = "/login";
                }, 5000)
            })
        }

    </script>

{% endblock %}