{% extends "base.html" %}

{% block user %}
    <button class="btn p-0 ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAvatar" aria-controls="offcanvasAvatar">
        <img src="" id="userAvatarNav" alt="User Avatar" class="rounded-circle border border-white" width="40" height="40">
        <span id="roleBadge" class="position-relative top-50 start-30 translate-middle badge rounded-pill"></span>
    </button>
{% endblock %}

{% block menu %}
    <div class="offcanvas-body d-flex flex-column align-items-start gap-3 ps-5">
        <ul class="nav nav-pills w-100" id="menuList">
            <li class="nav-item w-100" id="home">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" href="{{url_for('page.home_page')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>Home</strong>
                </a>
            </li>
            <li class="nav-item w-100" id="my_issues">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" href="{{url_for('page.my_issues_page')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>My Issues</strong>
                </a>
            </li>
            <li class="nav-item w-100" id="all_issues">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" href="{{url_for('page.all_issues_page')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>All Issues</strong>
                </a>
            </li>
            <li class="nav-item w-100" id="user_management">
                <a class="nav-link text-start text-success d-flex align-items-center gap-3" href="{{url_for('page.user_management_page')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <strong>User Management</strong>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAvatar" aria-labelledby="offcanvasAvatarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-success d-flex align-items-center gap-2" id="offcanvasLabel">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                Settings
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column align-items-start gap-3 ps-5">
            <ul class="nav nav-pills w-100" id="avaMenuList">
                <li class="nav-item w-100" id="view_profile">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" onclick="handleAvatarUpdate()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        </svg>
                        <strong>Update Avatar</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="view_profile">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" onclick="handleProfileView()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                        <strong>View my profile</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="edit_profile">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" onclick="handelEditProfile()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                        <strong>Edit my profile</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="change_password">
                    <a class="nav-link text-start text-success d-flex align-items-center gap-3" onclick="handelPasswordChange()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                        <strong>Change password</strong>
                    </a>
                </li>
                <li class="nav-item w-100" id="logout">
                    <a class="nav-link text-start text-danger d-flex align-items-center gap-3" onclick="handleSignOut()" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        <strong>Sign Out</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="updateAvatarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateAvatarModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-auto">
            <div class="modal-content">
                <form id="restImgForm" class="needs-validation" onsubmit="handleImgUpdateSubmit(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-success" id="updateAvatarModalTitle">Update Avatar</h1>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="user_id" name="user_id" value="123">
                        <div class="row align-items-center">
                            <div class="col-md-6 text-center">
                                <img id="avatarPreview" src="" class="rounded-circle border" width="150" height="150" alt="Avatar Preview">
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-center">
                                <div class="mb-3 w-100">
                                    <button type="button" class="btn btn-success mb-2 d-flex align-items-center justify-content-center gap-2 w-100" onclick="document.getElementById('avatarUpload').click();">
                                        Upload Avatar
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                        </svg>
                                    </button>
                                    <input type="file" class="form-control d-none" id="avatarUpload" name="image_content" accept="image/*" onchange="previewImage(event)">
                                </div>
                                <button type="button" class="btn btn-danger d-flex align-items-center justify-content-center gap-2 w-100" onclick="clearAvatar()">
                                    Clear Avatar
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pwdResetmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pwdResetmodalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-auto">
            <div class="modal-content">
                <form id="restPwdForm" class="needs-validation" onsubmit="handlePasswordChangeSubmit(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-success" id="pwdResetmodalTitle">Password Reset</h1>
                    </div>
                    <div class="modal-body">
                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="password" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                Password
                            </label>
                            <div class="input-group">
                                <span class="input-group-text bg-white border-success" id="togglePassword" style="cursor: pointer;">
                                    <svg id="eyeOpen" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-success" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                    <svg id="eyeClosed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-success d-none" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                                <input type="password" class="form-control border-success" id="password" name="password" placeholder="Enter your new password">
                                <div id="passwordTip" class="invalid-feedback">not a valid input</div>
                            </div>
                        </div>
                        <!-- Confirm Password Field -->
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                Confirm Password
                            </label>
                            <div class="input-group">
                                <span class="input-group-text bg-white border-success" id="togglePasswordC" style="cursor: pointer;">
                                    <svg id="eyeOpenC" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-success" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                    <svg id="eyeClosedC" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-success d-none" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                                <input type="password" class="form-control border-success" id="confirmPassword" placeholder="Confirm your password" disabled>
                                <div id="confirmPasswordTip" class="invalid-feedback">input does not match the password</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProfileModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-auto">
            <div class="modal-content">
                <form id="editProfileForm" class="needs-validation" onsubmit="handleEditProfileSubmit(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-success" id="editProfileModalTitle">Edit Profile</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">							
							<div class="col-12 col-md-6 mb-3">
								<label for="editModalFirstName" class="form-label text-success d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
										<path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
										<path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
									</svg>
                                    First Name
                                </label>
								<input type="text" class="form-control border-success" id="editModalFirstName" name="first_name" placeholder="Enter your first name">
								<div id="firstNameTip" class="invalid-feedback">not a valid input</div>
							</div>
							<div class="col-12 col-md-6 mb-3">
								<label for="editModalLastName" class="form-label text-success d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
										<path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
										<path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
									</svg>
                                    Last Name
                                </label>
								<input type="text" class="form-control border-success" id="editModalLastName" name="last_name" placeholder="Enter your last name">
								<div id="lastNameTip" class="invalid-feedback">not a valid input</div>
							</div>
                            <div class="col-12 col-md-6 mb-3">
								<label for="editModalEmail" class="form-label text-success d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
										<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
									</svg>
                                    Email
                                </label>
								<input type="text" class="form-control border-success" id="editModalEmail" name="email" placeholder="xxxx@xxxx.com">
								<div id="emailTip" class="invalid-feedback">not a valid input</div>
							</div>
							<div class="col-12 col-md-6 mb-3">
								<label for="editModalLocation" class="form-label text-success d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
										<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
										<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
									</svg>
                                    Location
                                </label>
								<input type="text" class="form-control border-success" id="editModalLocation" name="location" placeholder="input your location">
								<div id="locationTip" class="invalid-feedback">not a valid input</div>
							</div>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewProfileModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-auto">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <h1 class="modal-title fs-5 text-success" id="editProfileModalTitle">View Profile</h1>
                    <img src="" id="viewModalAvatar" alt="User Avatar" class="rounded-circle border border-white" width="40" height="40">
                </div>
                <div class="modal-body">
                    <div class="row">	
                        <div class="col-12 col-md-6 mb-3">
                            <label for="viewModalUserName" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
									<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
								</svg>
                                User Name
                            </label>
                            <input type="text" class="form-control border-success" id="viewModalUserName" disabled>
                        </div>	
                        <div class="col-12 col-md-6 mb-3">
                            <label for="viewModalEmail" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                                </svg>
                                Email
                            </label>
                            <input type="text" class="form-control border-success" id="viewModalEmail" disabled>
                        </div>					
                        <div class="col-12 col-md-6 mb-3">
                            <label for="viewModalFirstName" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                                </svg>
                                First Name
                            </label>
                            <input type="text" class="form-control border-success" id="viewModalFirstName" disabled>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="viewModalLastName" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                                </svg>
                                Last Name
                            </label>
                            <input type="text" class="form-control border-success" id="viewModalLastName" disabled>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="viewModalLocation" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>
                                Location
                            </label>
                            <input type="text" class="form-control border-success" id="viewModalLocation" disabled>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label for="viewModalRole" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                                </svg>
                                Role
                            </label>
                            <button type="button" class="btn" id="viewModalRole" disabled style="cursor: none;"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createIssueModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createIssueModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form id="createIssueForm" class="needs-validation" onsubmit="handleIssueCreateSubmit(event)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-success" id="createIssueModalTitle">Create An Issue</h1>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="createIssueSummary" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
                                    <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/>
                                </svg>
                                Issue Summary
                            </label>
                            <input type="text" class="form-control border-success" id="createIssueSummary" name="summary" placeholder="Enter a brief summary">
                            <div id="issueSummaryTip" class="invalid-feedback">Not a valid input</div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="createIssueDescription" class="form-label text-success d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
                                    <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8z"/>
                                </svg>
                                Issue Description
                            </label>
                            <textarea class="form-control border-success" id="createIssueDescription" name="description" placeholder="Enter detailed description" rows="4"></textarea>
                            <div id="issueDescTip" class="invalid-feedback">Not a valid input</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block subContent %}
    {% endblock %}

    <script>

        let currentUser

        document.addEventListener("DOMContentLoaded", async () => {
            getFetch('/api/user/current', {}).onSuccess(data => {
                const operations = data['operations'];
                const menuListItems = document.querySelectorAll('#menuList .nav-item');
                menuListItems.forEach(item => {
                    const itemId = item.id;
                    if (!operations.includes(itemId)) {
                        item.style.display = 'none';
                    } else {
                        item.style.display = '';
                    }
                });
                currentUser = data['user_info'];
                const profileImage = currentUser['profile_image'];
                document.getElementById('userAvatarNav').src = profileImage ? profileImage : DETAULT_AVATOR;
                Role.getRole(currentUser['role']).handleAvatorBadge(document.getElementById('roleBadge'));
            })
        });

        document.addEventListener('DOMContentLoaded', () => {
			clearErrorOnInput('#password');
			clearErrorOnInput('#confirmPassword');
            clearErrorOnInput('#editModalFirstName');
            clearErrorOnInput('#editModalLastName');
            clearErrorOnInput('#editModalEmail');
            clearErrorOnInput('#editModalLocation');
		});

        document.getElementById("togglePassword").addEventListener("click", function () {
			let passwordInput = document.getElementById("password");
			let eyeOpen = document.getElementById("eyeOpen");
			let eyeClosed = document.getElementById("eyeClosed");

			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				eyeOpen.classList.add("d-none");
				eyeClosed.classList.remove("d-none");
			} else {
				passwordInput.type = "password";
				eyeOpen.classList.remove("d-none");
				eyeClosed.classList.add("d-none");
			}
		});

		document.getElementById("togglePasswordC").addEventListener("click", function () {
			let passwordInput = document.getElementById("confirmPassword");
			let eyeOpen = document.getElementById("eyeOpenC");
			let eyeClosed = document.getElementById("eyeClosedC");

			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				eyeOpen.classList.add("d-none");
				eyeClosed.classList.remove("d-none");
			} else {
				passwordInput.type = "password";
				eyeOpen.classList.remove("d-none");
				eyeClosed.classList.add("d-none");
			}
		});

        document.getElementById('password').addEventListener('input', function() {
			document.getElementById('confirmPassword').disabled = (this.value.trim() === "");
		});

        function handleAvatarUpdate() {
            var myModal = new bootstrap.Modal(document.getElementById('updateAvatarModal'));
            document.getElementById('avatarPreview').src = currentUser.profile_image || DETAULT_AVATOR;
            document.getElementById('user_id').value = currentUser.user_id;
            myModal.show();
        }

        function handleImgUpdateSubmit(event) {
            event.preventDefault();
        }

        function previewImage(event) {
            const file = event.target.files[0];
            const preview = document.getElementById("avatarPreview");
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }

        function clearAvatar() {
            document.getElementById("avatarUpload").value = "";
            document.getElementById("avatarPreview").src = DETAULT_AVATOR;
        }

        function handlePasswordChangeSubmit(event) {
            event.preventDefault();
            if (!passwordConfirmCheck('password', 'confirmPassword')) {
                return;
            }
            const formData = new URLSearchParams();
            formData.append('user_id', currentUser['user_id']);
            formData.append('new_password', password.value);
            const urlEncodedData = new URLSearchParams(formData).toString();
            formFetch('/api/user/resetpwd', {
                body: urlEncodedData
            }).onSuccess((data) => {
                showInfoToast("Successful, You will be redirected to login page in 3 seconds ...", 3000)
				setTimeout(() => {
					window.location.href = "/login";
				}, 3000)
            }).onBadRequest((data) => {
                const errData = data['err'];
                if ('password' in errData) { insertErrorTip('#password', errData['password']);}
            })
        }

        function handleEditProfileSubmit(event) {
            event.preventDefault();
            if (!preSubmitCheck(["editModalFirstName", "editModalLastName", "editModalEmail", "editModalLocation"])) {
                return;
            }
            const formData = new FormData(document.querySelector('#editProfileForm'));
            formData.append('user_id', currentUser['user_id'])
			const urlEncodedData = new URLSearchParams(formData).toString();
            formFetch('/api/user/edit', {
                body: urlEncodedData
            }).onSuccess((data) => {
                window.location.reload(true);
            }).onBadRequest((data) => {
                const errData = data['err'];
                if ('email' in errData) { insertErrorTip('#editModalEmail', errData['email']);}
                if ('first_name' in errData) { insertErrorTip('#editModalFirstName', errData['first_name']);}
                if ('last_name' in errData) { insertErrorTip('#editModalLastName', errData['last_name']);}
                if ('location' in errData) { insertErrorTip('#editModalLocation', errData['location']);}
            })
        }

        function handelPasswordChange() {
            var myModal = new bootstrap.Modal(document.getElementById('pwdResetmodal'));
            myModal.show();
        }

        function handelEditProfile() {
            var myModal = new bootstrap.Modal(document.getElementById('editProfileModal'));
            document.getElementById('editModalFirstName').value = currentUser['first_name'];
            document.getElementById('editModalLastName').value = currentUser['last_name'];
            document.getElementById('editModalEmail').value = currentUser['email'];
            document.getElementById('editModalLocation').value = currentUser['location'];
            myModal.show();
        }

        function handleSignOut() {
            formFetch('/api/auth/logout', {}).onSuccess((data) => {
                const redirectUrl = "/login?info=" + encodeURIComponent("you have logged out successfully");
                window.location.href = redirectUrl;
            })
        }

        function handleProfileView() {
            var myModal = new bootstrap.Modal(document.getElementById('viewProfileModal'));
            document.getElementById('viewModalAvatar').src = currentUser['profile_image'] ? currentUser['profile_image'] : DETAULT_AVATOR;
            document.getElementById('viewModalUserName').value = currentUser['user_name'];
            document.getElementById('viewModalEmail').value = currentUser['email'];
            document.getElementById('viewModalFirstName').value = currentUser['first_name'];
            document.getElementById('viewModalLastName').value = currentUser['last_name'];
            document.getElementById('viewModalLocation').value = currentUser['location'];
            Role.getRole(currentUser['role']).handleProfileBadge(document.getElementById('viewModalRole'));
            myModal.show();
        }

        function handleIssueCreateSubmit(event) {
            event.preventDefault();
            if (!preSubmitCheck(["createIssueSummary", "createIssueDescription"])) {
                return;
            }
            const formData = new FormData(document.querySelector('#createIssueForm'));
			const urlEncodedData = new URLSearchParams(formData).toString();
            formFetch('/api/issue/create', {
                body: urlEncodedData
            }).onSuccess((data) => {
                window.location.reload(true);
            }).onBadRequest((data) => {
                const errData = data['err'];
                if ('summary' in errData) { insertErrorTip('#createIssueSummary', errData['summary']);}
                if ('description' in errData) { insertErrorTip('#createIssueDescription', errData['description']);}
            })
        }

    </script>

{% endblock %}