{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block usercontent %}
<a href="{{ url_for('page.register_page') }}">
	<button type="button" class="btn btn-outline-light">Sign Up</button>
</a>
<a href="{{ url_for('page.login_page') }}">
	<button type="button" class="btn btn-outline-light">Login</button>
</a>
{% endblock %}

{% block content %}

<div class="container my-auto">
  	<div class="row justify-content-center">
	  	<div class="col-md-6 col-lg-4">
		  	<div class="card mt-4 shadow-sm p-4">
			  	<h5 class="card-title text-center text-success mb-4">Welcome Back!</h5>
			  	<form id = "loginForm" class="needs-validation" onsubmit="handleSubmit(event)">
				  	<div class="mb-3">
					  	<label for="loginUserName" class="form-label text-success">Username</label>
					  	<input type="text" class="form-control border-success" id="loginUserName" name="user_name">
						<div id="userNameTip" class="invalid-feedback"></div>
				  	</div>
				  	<div class="mb-3">
					  	<label for="loginPassword" class="form-label text-success">Password</label>
					  	<input type="password" class="form-control border-success" id="loginPassword" name="password">
						<div id="passwordTip" class="invalid-feedback"></div>
				  	</div>
					  <div class="d-flex justify-content-between align-items-center mt-5">
						<button type="submit" class="btn btn-success w-100">Login</button>
					</div>
			  	</form>
		  	</div>
	  	</div>
  	</div>
</div>

<script>

	document.addEventListener("DOMContentLoaded", () => {
		clearErrorOnInput('#loginUserName');
		clearErrorOnInput('#loginPassword');
	});

	function handleSubmit(event) {
		event.preventDefault();
		const formData = new FormData(document.querySelector('#loginForm'));
		const urlEncodedData = new URLSearchParams(formData).toString();
		formFetch('/api/auth/login', {
			method: "POST",
			body: urlEncodedData
		}).onSuccess(data => {
			// TODO 
			console.log(data)
		}).onBadRequest(data => {
			const errData = data['err']
			if ('user_name' in errData) {
				const userNameInput = document.querySelector('#loginUserName');
				userNameInput.classList.remove('border-green');
				userNameInput.classList.add('is-invalid', 'border-danger');
          		const invalidFeedback = userNameInput.nextElementSibling;
         		invalidFeedback.textContent = errData['user_name']
			}
			if ('password' in errData) {
				const passwordInput = document.querySelector('#loginPassword');
				passwordInput.classList.remove('border-green');
          		passwordInput.classList.add('is-invalid', 'border-danger');
          		const invalidFeedback = passwordInput.nextElementSibling;
          		invalidFeedback.textContent = errData['password']
			}
		}).onNotAllowed(data => {
			showWarningModal(data['err'], "OK", null)
		});
	}

</script>

{% endblock %}