{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block user %}
<div/>
{% endblock %}

{% block menu %}
<div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
    <a href="{{ url_for('page.login_page') }}" class="btn btn-success w-75 py-2 d-block text-center">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
			<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
		</svg>
		Sign In
	</a>
    <div class="w-75 my-3 position-relative">
        <div class="border-top"></div>
        <span class="position-absolute top-50 start-50 translate-middle px-2 bg-white text-success">or</span>
    </div>
    <a href="{{ url_for('page.register_page') }}" class="btn btn-outline-success w-75 py-2 d-block text-center">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
		</svg>
		Sign Up
	</a>
</div>
{% endblock %}

{% block content %}

<div class="container my-auto">
  	<div class="row justify-content-center">
	  	<div class="col-md-6 col-lg-4">
		  	<div class="card mt-4 shadow-sm p-4">
			  	<h5 class="card-title text-center text-success mb-4">Welcome Back!</h5>
			  	<form id = "loginForm" class="needs-validation" onsubmit="handleSubmit(event)">
				  	<div class="mb-3">
					  	<label for="loginUserName" class="form-label text-success">Username</label>
					  	<input type="text" class="form-control border-success" id="loginUserName" name="user_name" placeholder="Enter user name to login">
						<div id="userNameTip" class="invalid-feedback"></div>
				  	</div>
				  	<div class="mb-3">
						<label for="loginPassword" class="form-label text-success">Password</label>
						<div class="input-group">
							<input type="password" class="form-control border-success" id="loginPassword" name="password">
							<span class="input-group-text bg-white border-success" id="togglePassword" style="cursor: pointer;">
								<svg id="eyeOpen" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-success" viewBox="0 0 16 16">
									<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
									<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
								</svg>
								<svg id="eyeClosed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-success d-none" viewBox="0 0 16 16">
									<path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
									<path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
								</svg>
							</span>
						</div>
						<div id="passwordTip" class="invalid-feedback"></div>
					</div>
					<div class="d-flex justify-content-between align-items-center mt-5">
						<button type="submit" class="btn btn-success w-100">
							Login
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
								<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
							</svg>
						</button>
					</div>
			  	</form>
		  	</div>
	  	</div>
  	</div>
</div>

<script>

	document.getElementById("togglePassword").addEventListener("click", function () {
        let passwordInput = document.getElementById("loginPassword");
        let eyeOpen = document.getElementById("eyeOpen");
        let eyeClosed = document.getElementById("eyeClosed");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeOpen.classList.add("d-none");
            eyeClosed.classList.remove("d-none");
        } else {
            passwordInput.type = "password";
            eyeOpen.classList.remove("d-none");
            eyeClosed.classList.add("d-none");
        }
    });

	document.addEventListener("DOMContentLoaded", () => {
		clearErrorOnInput('#loginUserName');
		clearErrorOnInput('#loginPassword');
	});

	function handleSubmit(event) {
		event.preventDefault();
		const formData = new FormData(document.querySelector('#loginForm'));
		const urlEncodedData = new URLSearchParams(formData).toString();
		formFetch('/api/auth/login', {
			method: "POST",
			body: urlEncodedData
		}).onSuccess(data => {
			window.location.href = "/";
		}).onBadRequest(data => {
			const errData = data['err']
			if ('user_name' in errData) {
				const userNameInput = document.querySelector('#loginUserName');
				userNameInput.classList.remove('border-green');
				userNameInput.classList.add('is-invalid', 'border-danger');
          		const invalidFeedback = userNameInput.nextElementSibling;
         		invalidFeedback.textContent = errData['user_name']
			}
			if ('password' in errData) {
				const passwordInput = document.querySelector('#loginPassword');
				passwordInput.classList.remove('border-green');
          		passwordInput.classList.add('is-invalid', 'border-danger');
          		const invalidFeedback = passwordInput.nextElementSibling;
          		invalidFeedback.textContent = errData['password']
			}
		}).onNotAllowed(data => {
			showWarningModal(data['err'], "OK", null)
		});
	}

</script>

{% endblock %}